.input-group {
  display: flex;
  margin: $m-size 0;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin: $l-size 0;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}
