// Colors
$dark-grey: #333;
$blue: #1b99d8cf;
$dark-blue: rgb(157, 165, 196);
$off-white: #f7f6f6;
$grey: rgb(101, 99, 99);
// Fonts
$font-size-large: 1.9rem;
$font-size-small: 1.3rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
